<!-- 
File Name: project/templates/create_profile_form.html
author: Parthav Gupta
email: parthavg@bu.edu
description: this HTML file provides a user the option to post/add a new profile 
listing onto the exiting databse-->


<!-- project/create_profile_form.html -->

<h1>Add a new Profile </h1>

<form method="POST"> <!--POST to send the data up to the server-->
    {% csrf_token %} <!--Essential for cyber security purposes-->

    <!--{{form}}--->
    
    <!--Table style formatting-->
    <table> 
    {{form.as_table}}
    <tr>
        <td></td>
        <td><input type="submit" value="  Add Profile  "></td> <!--Gives the user the option to add profile to existing database-->
    </tr>
    </table>
</form>
