<!-- project/show_poster_page.html -->
{% extends 'project/base.html' %}

{% block content %}
<body style="background-color:rgb(232, 147, 132);"></body>

<h1 style="font-size:350%;">POP & CORN</h1>

<center>
<h3 style="font-size:230%;">{{posters.tittle}} Poster</h3>
<h3 style="font-size:200%;">Category: {{posters.category}}</h3>
  <h3 style="font-size:87%;">  <img src= "{{posters.poster_image_url}}" style='width:450'></h3>
  <h4><a href="{% url 'update_poster' posters.pk %}">Update Poster</a></h4>
  <h3 style="font-size:280%;">@ ${{posters.price}}</h3>
  <h3 style="font-size:160%;"> {{posters.description}}</h3>
</center>
<h5 style="font-size:202%;"> User Reviews</h5>


<form action="{% url 'post_review' posters.pk %}" method="POST">
        {% csrf_token %}
        
        <!--{{form}}--->
        
        <!--{{form.as_p}}---> <!--Paragraph style formatting-->
        <table> 
        {{create_review_form.as_table}}
        <tr>
            <td><input type="submit" value="Upload Review"></td>
        </tr>
        </table>
</form>

  {% for review in posters.get_review %}
        <h6 style="font-size:140%;"> "{{review.message}}"</h6>
        <a href="{% url 'show_profile' review.profile.pk %}"><h7 style="font-size:110%;"> {{review.profile}}</h7> </a>
        <h6 style="font-size:105%;"><a href="{% url 'delete_review' poster_pk=posters.pk review_pk=review.pk %}">delete</a></h6>

  {% endfor %}

{% endblock %}
