<!-- 
File Name: project/templates/update_poster_form.html
author: Parthav Gupta
email: parthavg@bu.edu
description: this HTML file allows user to update the poster prefferences 
while on the individual poster page -->


<h1>Update Poster </h1>

<form method="POST"> <!--HTTP post to send the data to the server-->
    {% csrf_token %}

    <table>
    {{form.as_table}} <!-- table style formatting-->
    <tr>
        <td></td>
        <td><input type="submit" value="Update"></td> <!--Option displayed to submit the update in poster attributes-->
    </tr>
    </table>

</form>
