<!-- mini_fb/show_all_profiles.html -->  
{% extends 'mini_fb/base.html' %}

{% block content %}
    <td><a href="{% url 'show_profile_page' profile.pk %}">Back to {{profile.first_name}}'s profile page</a></td>

    <h1>{{profile.first_name}}'s News Feed</h1>



    <table border=0>

         <colgroup>
                <col span="1" style="width: 10%">
                <col span="1" style="width: 25%">
                <col span="1" style="width: 30%">  
        </colgroup>

        <tr>
            <th>Time</th>
            <th>Profile</th>
            <th>Status Message</th>
        </tr>

        <tr>
            <td>{% for status_message in profile.get_news_feed %}
            {{status_message.message}}

            {{status_message.profile.first_name}}

            <img src='{{status_message.profile.profile_image_url}}'>

        {% endfor %}

        </td>
        </tr>
    </table>

{% endblock %}
