<!-- mini_fb/show_all_profiles.html -->  

{% extends 'mini_fb/base.html' %}

{% block content %}

<h1> Showing All Profiles</h1>

<!-- display the context data -->


<!-- create a loop to display the quotes -->

<body>
  <table>
  <tr>
    <th>Name</th>
    <th>Hometown</th>
    <th>Image</th>
  </tr>{% for Profile in show_all_profiles %}
  <tr>
  <td>{{Profile.first_name}} - {{Profile.second_name}}</td>
  <td>{{Profile.city}} </td>
  <td> <a href="show_profile_page.html"> {{{Profile.profile_image_url}} </a>
  </td>
  </tr>
  {% endfor %}

  </table>
  </body>

  {% endblock %}