<!-- mini_fb/show_all_profiles.html -->  
{% extends 'mini_fb/base.html' %}

{% block content %}

<h1> Showing All Profiles</h1>

<!-- display the context data -->


<!-- create a loop to display the quotes -->
  

  <table>
  <tr>
    <th>Name</th>
    <th>Hometown</th>
    <th>Image</th>
    {% for profile in profiles %}
  </tr>
  <tr>
  <td>{{profile.first_name}} - {{profile.last_name}}</td>
  <td>{{profile.city}} </td>
  <td> <img src="{{profile.profile_image_url}}" style="max-width: 100;"
  </td>
  </tr>
  </table>
  {% endfor %}

  {% endblock %}



