<!-- mini_fb/show_profile_page.html -->  
{% extends 'mini_fb/base.html' %}

{% block content %}

  <center>
  <!-- display the context data -->

  <h1 style="font-size:150%;">Mini Facebook</h1>


  <h3 style="font-size:150%;">{{profile.first_name}} {{profile.last_name}}'s Page</h3>
  <img src= "{{profile.profile_image_url}}" style='width:500'>
  <h3 style="font-size:87%;">from: {{profile.city}}</h3>
  <h3 style="font-size:87%;">email: {{profile.email_address}}</h3>
  
  <h4><a href="{% url 'update_profile' profile.pk %}">Edit profile</a></h4>
  <h4><a href="{% url 'news_feed' profile.pk %}">Display {{profile.first_name}}'s news feed</a></h4>
  <h4><a href="{% url 'show_possible_friends' profile.pk %}"> {{profile.first_name}}'s possible friends</a></h4>
  

  <h2 style="font-size:300%;">{{profile.first_name}}'s friends </h2>

  {% if profile.get_friends %}

  {% for profile in profile.get_friends %}
    <table>

        <colgroup>

            <col span="1" style='width:50%;'>
            <col span="1" style='width:50%;'>
        
        </colgroup>

        <tr>

          <td><a href="{% url 'show_profile_page' profile.pk %}"></a>{{profile.first_name}} {{profile.last_name}}</td>
          <td><img src="{{profile.profile_image_url}}" width="50" height="60"></td>
        </tr>
    </table>
  {% endfor %}

  {% else %}
  {{profile.first_name}} doesn't have any friends.
  {% endif %}

    {% for status_message in profile.get_status_messages %}  
  <h5 style="font-size:175%;"><a href="{% url 'delete_status' profile_pk=profile.pk status_message_pk=status_message.pk %}">delete</a></h5>
    {% if status_message.image %}
          <img src='{{status_message.image.url}}' style='max-width: 600;'>
          '{{status_message.message}}'
          '{{status_message.time_stamp}}'
    
    {% endif %}

  
         
    {% endfor %}

</center>

<h6 style="font-size:202%;"> New status message</h6>

<form action="{% url 'post_status' profile.pk %}" method="POST">
        {% csrf_token %}
        
        <!--{{form}}--->
        
        <!--{{form.as_p}}---> <!--Paragraph style formatting-->
        <table> 
        {{create_status_form.as_table}}
        <tr>
            <td><input type="submit" value="New Status Message"></td>
        </tr>
        </table>
</form>


{% endblock %}



